* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

#icontuch:hover {
  border-radius: 50%;
  background-color: #cccccc;
}

.text {
  padding: 15px 20px;
  background-color: #444444;
  border-radius: 5px;
  color: #ffffff;
  display: none;
}

#icontuch:hover + .text:hover {
  display: block;
}

input {
  width: 480px;
  height: 32px;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
}
